body {
  font-family: 'Poppins', sans-serif;
  }

.heroBackground {
  background-image: url("../images/heroBackground.png");
  background-size: cover;
  max-height: 900px;
  margin: 0%;
}

.nav-list {
  background-color: white;
  opacity: 0.9;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  margin:0;
  padding: 1rem 0;
  border-radius: var(--radius);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-height: 25px;
}

.nav-item {
  list-style: none;
  margin-right: 1rem;
}

.nav-item a{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  color: black;
}

.nav-item a:hover{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #F69F8E;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.nav-item:first-child {
  margin-right:auto;
  margin-left: 1rem;
}

.logoArea {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.logo {
  height: 75%;
  width: auto;
}

.socialMedia {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px; 
}

.social {
  height: 50%;
  width: auto;
}

.aboutContainer {
  justify-content: center;
  align-items: center;
  width: 100% auto;
  height: auto;
  padding: 5%;
}

.circles{
  background-color: white;
  border-radius: 50%;
}

.about-tabs {
  display: flex;
  background-color: black;
  padding: 15px;
}

.about-item {
  list-style: none;
}

.about-item a{
  color:white;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: auto;
}

.appetit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: auto;
  padding: 5%;
}

.sdZoo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 75%;
  height: auto;
  padding: 5%;
}

.project3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 75%;
  height: auto;
  padding: 5%;
}

.footer {
  display: flex;
  background: #D9ADAC;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;

  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: .25em;
  width: 80px;
  height: 80px;
  background-color: #f8f8f8;
  border-radius: 15px #D9ADAC;
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 600){

}
